[submodule "dependencies/tdlight"]
	path = dependencies/tdlight
	url = https://git.ignuranza.net/tdlight-team/tdlight.git
[submodule "dependencies/tdlib-serializer"]
	path = dependencies/tdlib-serializer
	url = https://git.ignuranza.net/windoz/tdlib-serializer.git
