[submodule "src/main/jni/td"]
	path = src/main/jni/td
	url = git@ssh.git.ignuranza.net:tdlight-team/tdlight.git
[submodule "common-utils"]
	path = common-utils
	url = git@ssh.git.ignuranza.net:tdlight-team/common-utils.git
[submodule "src/main/jni/tdlib-serializer"]
	path = src/main/jni/tdlib-serializer
	url = ssh://git@ssh.git.ignuranza.net/windoz/tdlib-serializer.git
